.container{
    width: 1140px;
    height: auto;
    margin: auto;
}

.info-flex{
    display: flex;
    justify-content: space-between;
    background:#00796B;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 40px;
}
.quick-contact{
    padding: 10px;
}
.quick-contact a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding-left: 30px;
    font: normal;
}
.social{
    padding-right: 30px;
    padding: 10px;
}
.social i{
        padding: 10px;
        color:aliceblue;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        line-height: 1px;
        width:100%;
        padding-right:10px
    }
.social i:hover{
    color: aliceblue;
    transition: 0.5s;
}







.header-flex{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    background-color: #008374;
    height:60px
}
.header{
    padding: 10px;
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: var(--font-primary)
}
.header-1 ol{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px;
    letter-spacing: 1px;
}
.header-1 a{
    /*  */
    color: #fff;
    text-decoration: none;
    position: relative;
}
.header-1 ol li{
    padding-left: 30px;
}

 
.header-1 ol li a::before{
    content: "";
    height: 3px;
    background-color: red;
    width: 0px;
    position: absolute;
    left: 0;
    top: 120%;
    transition: 1s;

}
.header-1 ol li:hover > a::before{
    width: 100%;
    transition: 1s;
}






.banner-flex{
    background-color: #008374;
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.content h2{
    font-size: 48px;
    padding-top: 80px;
    padding-left: 100px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.content p{
    padding-left: 100px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
}
.content button{
    height: 50px;
    padding-left: 100px;
    width: auto;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 100px;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border: 2px solid rgba(255, 255, 255, 0.1);
}











